body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

#myRoll{
    font-size: 3em;
    padding: 5px 25px;
    border-radius: 6px;    
}

.mylabels{
    font-size: 3em;
}